<%= form_for @message, url: contact_path do |message| %>

	<fieldset>
		<div class="hidden">
			<%= message.text_field :name, :value => current_user.username %>
		</div>
		<div class="hidden">
			<%= message.email_field :email, :value => current_user.email %>
		</div>
		<div class="field">
			<%= message.text_area :content, placeholder: 'Message' %>
		</div>
	</fieldset>
	<fieldset>
		<div class="field">
			<%= message.submit 'Send Message' %>
		</div>
	</fieldset>
<% end %>