<div class="container-fluid">
  <div class='row'>
    <div align="center">
      <h1>Contact</h1>
    </div>
    
		<%= form_for @message, url: contact_path do |message| %>
			
			<div class="hidden">
				<%= message.text_field :name, :value => current_user.username %>
			</div>
			<div class="hidden">
				<%= message.email_field :email, :value => current_user.email %>
			</div>
		
			<div class="control-label col-sm-6 col-sm-offset-3">
				<strong>From : </strong><%= current_user.username %><br />
				<strong>Subject : </strong>VCOE Inventory - Message from <%= current_user.username %>
			</div>
		
			<div class="form-group">
				<div class="control-label col-sm-6 col-sm-offset-3">
					<span class="email_error_message contact">*Please enter a message.</span><br>
					<%= message.text_area :content, placeholder: 'Questions? Send a message.', rows: '5', class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-6">
					<br />
					<%= submit_tag 'Send Message', class: 'btn btn-success btn-lg item_submit' %>
				</div>
			</div> 
		<% end %>
		
  </div>
</div>

<div id="loader_background">
	<div class="loader">Loading...</div>			
</div>

<script>
  jQuery(function($) 
	{
		$('#new_message').submit(function (e) 
		{
			e.preventDefault();
			
			if ($('#message_content').val()) 
			{
				$('#loader_background').css('display', 'block');
				$('.email_error_message').css('display', 'none');
				$('#message_content').css('border-color', '');
				this.submit();
			}
			else
			{
				$('.email_error_message').css('display', 'inline');
				$('#message_content').css('border-color', '#c51515');
			}
		});
	});
</script>