<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default col-sm-7 col-sm-offset-1">
      <div class="panel-body">
        <h1><%= @user.username %></h1>
        <p><%= @user.email %></p>
        
        <% if logged_in? && current_user.admin? %>
          <div class="dropdown edit_user_dropdown pull-right">
            <button class="dropdown-toggle edit_item_dropdown" type="button" data-toggle="dropdown">
              Edit Profile <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Delete #{@user.username}", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete #{@user.username}?" } %></li>
            </ul>
          </div>
        <% end %>
        
        <hr class="clear"/>
        <ul class="user_items">
          <% @user.items.each do |item| %>
            <li>
              <% if logged_in? && (item.user == current_user || current_user.admin?) %>
                <div class="dropdown pull-right">
                  <button class="dropdown-toggle edit_item_dropdown" type="button" data-toggle="dropdown">
                    Edit <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Edit #{item.title}", edit_item_path(item) %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Delete #{item.title}", item_path(item), method: :delete, data: { confirm: "Are you sure you want to delete #{item.title}?" } %></li>
                  </ul>
                </div>
              <% end %>
              <br class="clear" />
            </li>
            <li class="well">
              <div class="left"><%= link_to item.title, item_path(item) %> - <%= item.owner_location %></div>
              <br class="clear" />
            </li>
          <% end %>  
        </ul>
      </div>
    </div>
    
    <div class="panel panel-default col-sm-3 side">
      <div class="panel-body">        
          <% if @user.items.any? %>
            <% if @user == current_user %>
              <p>You are currently borrowing: </p>
            <% else %>
              <p><%= @user.username %> is currently borrowing:</p>  
            <% end %>
            <ul class="currently_borrowing">
              <li><%= link_to @user.items.first.title, item_path(@user.items.first) %></li>
            </ul>
          <% else %>
            <% if @user == current_user %>
              <p>You are not currently borrowing anything: </p>
            <% else %>
              <p><%= @user.username %> is not currently borrowing anything.</p>  
            <% end %>
          <% end %>    
      </div>
    </div>
    
  </div>
</div>