<div class='col-md-12'>
  <%= form_for(@item, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-3">
        <%= f.label :title %>
      </div>
      <div class="col-sm-6">
        <% if @item.errors[:title].any? %>
          <ul class="error">
            <% @item.errors[:title].each do |error| %>
              <li>*Title <%= error %></li>
            <% end %>
          </ul>
        <% end %>
				<%= f.text_field :title, class: "form-control", placeholder: "Enter an item name", autofocus: true %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-3">
        <%= f.label :owner_location, 'Home Location' %>
      </div>
      <div class="col-sm-6">
        <% if @item.errors[:owner_location].any? %>
          <ul class="error">
            <% @item.errors[:owner_location].each do |error| %>
              <li>*<%= error %></li>
            <% end %>
          </ul>
        <% end %>
				<%= f.collection_select :owner_location, School.where.not(name: 'Administration'), :name, :name, { include_blank: 'Select a School' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="form-group">
      <div class="control-label col-sm-3">
				<%= f.label :category, 'Category' %>
      </div>
      <div class="col-sm-6">
				<% if @item.errors[:category].any? %>
          <ul class="error">
						<% @item.errors[:category].each do |error| %>
              <li>*<%= error %></li>
            <% end %>
          </ul>
        <% end %>
				<%= f.select :category, ['Assessments', 'Manuals', 'Curriculum', 'Books'], { include_blank: 'Select a Category' }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-6">
				<%= f.submit(f.object.new_record? ? 'Add Item' : 'Update Item', class: 'btn btn-success btn-lg item_submit') %>
      </div>
    </div>  
  <% end %>
</div>