<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% if !@items.any? %>
        <div align="center">
          <p>Your search returned no results. Please try again, or <%= link_to 'view all items', items_path %>.</p>
        </div>
      <% else %>
        
        <%= form_tag items_path, :method => 'get',:enforce_utf8 => false, class: 'form-inline school_filter'  do %>
          <div class="form-group">            
            <%= select_tag(:filter, options_from_collection_for_select(@schools, "name", "name"), selected: params[:filter], :prompt => 'Filter by school', class: 'form-control input-sm') %>
            <button type="submit" class="btn btn-default form-control input-sm">Filter</button>
          </div>
        <% end %>
        
      <% end %>
      
      <% @items.each do |item| %>
        <div class="panel panel-default show_all">
          <div class="panel-body">
            <div class="left show_all_title"><%= link_to item.title, item_path(item) if logged_in? %><%= item.title if !logged_in? %></div>
            <% if logged_in? && (item.user == current_user || current_user.admin?) %>
              <div class="dropdown pull-right">
                <button class="dropdown-toggle edit_item_dropdown" type="button" data-toggle="dropdown">
                  Edit <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit #{item.title}", edit_item_path(item) %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Delete #{item.title}", item_path(item), method: :delete, data: { confirm: "Are you sure you want to delete #{item.title}?" } %></li>
                </ul>
              </div>
            <% end %>
            <div class="clearer"></div>
          <p class="left"><%= item.owner_location %><% if item.exchanges.any? && item.exchanges.last.active? %> (Lent out) <% end %></p>
          </div>
        </div>
      <% end %>
      <div align="center">
        <%= will_paginate @items %>
      </div>
    </div>
  </div>
</div>