
<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default col-sm-7 col-sm-offset-1">
      <div class="panel-body">
        <h1 class="left"><%= @item.title %></h1>
        <% if logged_in? && (@item.user == current_user || current_user.admin?) %>
          <div class="dropdown pull-right">
            <button class="dropdown-toggle edit_item_dropdown" type="button" data-toggle="dropdown">
              Edit <span class="glyphicon glyphicon-cog"></span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit #{@item.title}", edit_item_path(@item) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Delete #{@item.title}", item_path(@item), method: :delete, data: { confirm: "Are you sure you want to delete #{@item.title}?" } %></li>
            </ul>
          </div>
        <% end %>
        <div class="clear"></div>
        <p>Home Location: <%= @item.owner_location %></p>
        <p class="meta">Created by: <%= link_to @item.user.username, user_path(@item.user) %></p>
        <a href="" class="view_history">View History</a>
        <ul id="exchange_history">
          <hr />
          <% if @exchanges.any? %>
            <% @exchanges.each do |exchange| %>
              <li>
                Borrowed by <%= exchange.user.username %> on <%= exchange.borrowed_time %> <br />
                <% if exchange.active == false %>
                  Returned <%= exchange.return_time %>.
                <% end %>
              </li>
            <% end %>
          <% else %>
            <p>No history to show..</p>
          <% end %>
        </ul>
        
      </div>
    </div>
    
    <div class="panel panel-default col-sm-3 side">
      <div class="panel-body">
        
        <%= button_to "Borrow", item_borrow_path(@item.id), class: 'btn btn-success borrow' if !@item.exchanges.any? || !@item.exchanges.last.active? %>
        <% if @item.exchanges.any? && @item.exchanges.last.user == current_user %>
          <%= button_to "Return", item_return_path(@item.id), class: 'btn btn-warning borrow' if @item.exchanges.last.active? %>
        <% else %>
          <%= button_to "Return", item_return_path(@item.id), class: 'btn btn-warning borrow', :disabled => true if @item.exchanges.any? && @item.exchanges.last.active? %>
        <% end %>

        <% if @item.exchanges.any? && @item.exchanges.last.active? %>
          <hr />
          <p>Lent to <%= link_to @item.exchanges.last.user.username, user_path(@item.exchanges.last.user) %><br />
          on <%= @item.exchanges.last.borrowed_time %>.</p>
        <% end %>
      </div>
    </div>
    
  </div>
  
</div>
