<!DOCTYPE html>
<html>
<head>
  <title>VCOE Inventory Control</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'common/navigation' %>

<div id="main_content">
  <%= render 'common/messages' %>
  
  <%= yield %>
</div>

<%= render 'common/footer' %>



<script>
  //$('.view_history').click(function() {
  function showHistory() {
    $('#exchange_history').slideToggle(100);
    $('.view_history').toggleClass('open');
    
    if ( $('.view_history').is('.open') ) {
      $('.view_history').html('Hide History');
    } else {
      $('.view_history').html('Show History');
    }
    
    return false;
  }
</script>

</body>
</html>
