<!DOCTYPE html>
<html>
<head>
  <title>VCOE Inventory Control</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'common/navigation' %>

<div id="main_content">
  <%= render 'common/messages' %>
  
  <%= yield %>
</div>

<%= render 'common/footer' %>



<script>
  jQuery(function($) {
    $('.view_history').click(function() {
      $('#exchange_history').slideToggle(100);
      $(this).toggleClass('open');
      
      if ( $(this).is('.open') ) {
        $(this).html('Hide History');
      } else {
        $(this).html('Show History');
      }
      
      return false;
    });
  })(jQuery);
</script>

</body>
</html>
